
{{#setEmailForm}}
    {{#formSuccess}}
        <p>User email changed successfully!</p>
    {{/formSuccess}}

    <form action="{{url}}" method="post">
        {{#formError}}<p><b>{{.}}</b></p>{{/formError}}
        {{#email}} {{#label}}User Email{{/label}} {{>form/text}} {{/email}}
        <button type="submit">Set Email</button>
    </form>
{{/setEmailForm}}
