
{{#loginForm}}
    <form action="{{url}}" method="post">
        {{#formError}}<p><b>{{.}}</b></p>{{/formError}}

        {{#email}} {{#label}}Email{{/label}} {{>form/text}} {{/email}}
        {{#password}} {{#label}}Password{{/label}} {{>form/password}} {{/password}}

        <button type="submit">Login</button>
    </form>
{{/loginForm}}
